paczka/SEM1/(HiH)_Hipertekst_i_Hipermedia/laboratoria/wspólne/lab_02/hih_lab_02_rozwiązania/HH.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
<!--Piotr Trybisz-->
	<!--element 'hipertext' jest zadeklarowany globalnie. W pliku XML jest elementem głównym - korzeniem-->
	<xs:element name="hipertext" type="hipertextType"/>  

	<!-- typ hipertextType jest zdefiniowany globalnie i użyty w deklaracji elementu hipertext-->
	<xs:complexType name="hipertextType">
		<xs:sequence>
			<xs:element name="author" type="authorType" /> 	<!--lokalna deklaracja elementu author. Typ dla tego elementu został zdefiniowany globalnie-->
			<xs:element name="definition" type="definitionType">   <!--lokalna deklaracja elementu definition-->
				
			</xs:element>
			<xs:element type="personsType" name="persons"></xs:element>
			<xs:element name="systems" type="systemsType" minOccurs="0"/>	<!--lokalna deklaracja elementu systems, który jest typu złożonego zdefiniowanego globalnie-->
		</xs:sequence>
	</xs:complexType>

	<!-- typ authorType jest typem złożonym zdefiniowanym globalnie i został użyty w deklaracji elementu author -->
	<xs:complexType name="authorType">
		<xs:sequence>
			<xs:element name="name" type="shortStringType" />		<!--lokalna deklaracja elementu name, który jest typu wbudowanego string-->
			<xs:element name="surname" type="shortStringType" />	<!--lokalna deklaracja elementu surname, który jest typu wbudowanego string-->
		</xs:sequence>
	</xs:complexType>

	<!-- typ systemsType jest typem złożonym zdefiniowanym globalnie i został użyty w deklaracji elementu systems -->
	<xs:complexType name="systemsType">
		<xs:sequence>
			<xs:element name="system" minOccurs="0" maxOccurs="unbounded">	<!--element system jest zadeklarowany lokalnie. Typ dla tego elementu również został zdefiniowany lokalnie-->
				<xs:complexType>		<!--lokalna definicja typu złożonego dla elementu system -->
					<xs:sequence>
						<xs:element name="name" type="xs:string" />			<!--lokalna deklaracja elementu name, który jest typu wbudowanego string-->
						<xs:element name="description" type="xs:string" />
						<!--lokalna deklaracja elementu description, który jest typu wbudowanego string-->
						<xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="adressType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="source" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="shortStringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="longStringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="image" type="adressType" />
	<xs:element name="link" type="adressType" />
	
	<xs:complexType name="personsType">
		<xs:sequence>
			<xs:element name="person" maxOccurs="unbounded" type="personType"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="personType">
		<xs:complexContent>
			<xs:extension base="authorType">
				<xs:sequence>
			<xs:element name="birth" type="xs:gYear"></xs:element>
			<xs:element name="death" minOccurs="0" type="xs:gYear"></xs:element>
			<xs:element name="about" type="xs:string"></xs:element>
			<xs:element ref="image"></xs:element>
			<xs:element ref="link"></xs:element>
			<xs:element name="achievements">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="achievement" type="achievementType" maxOccurs="unbounded">
							
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="alive" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="yes"></xs:enumeration>
					<xs:enumeration value="no"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="achievementType">
		<xs:sequence>
			<xs:element name="title" type="longStringType"></xs:element>
			<xs:element name="description" type="xs:string"></xs:element>
			<xs:element ref="image" minOccurs="0"></xs:element>
			<xs:element ref="link" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="n" type="xs:int"></xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="definitionType">
		<xs:restriction base="xs:string">
			<xs:minLength value="15"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>




<!--
deklaracja elementu globalnego
<xs:element name="elemName" type="elemType" />

deklaracja elementu poprzez referencję
<xs:element ref="elemName" minOccurs="0" maxOccurs="unbounded"/>
-->
